@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600&family=Playfair+Display&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
}
body  {
    width: 100%;
    height: 100vh;
    background: rgb(6,40,61);
    background: linear-gradient(104deg, rgba(6,40,61,1) 0%, rgba(7,48,62,1) 27%, rgba(11,70,82,1) 38%, rgba(9,57,73,1) 66%, rgba(12,63,80,1) 73%, rgba(12,75,98,1) 85%, rgba(27,91,107,1) 88%, rgba(13,106,120,1) 91%, rgba(6,108,110,1) 95%, rgba(6,92,92,0.9724264705882353) 97%, rgba(6,91,85,1) 98%, rgba(1,51,36,1) 100%);
}

header {
    height:10% ;
    color: whitesmoke;
    text-align: center;
    padding-top: 2vh;
    font-size: 1.5rem;
    
}

main {
    height:90% ;
    width:60% ;
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.reloj {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    color: aliceblue;
}

.fecha, .hora{
    margin-bottom: 1vh;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2vw;
    font-size: 3em;
    text-align: center;
}

.hora {
    font-size: 7em;
    padding: 0.5vh;
}



p {
    display: inline-block;
}

.amAndSeg{
    display: inline-block;
   
}

.ampm, .segundos{
    display: block;
    font-size: 0.45em;
}